<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NorthwindDataServiceSoap" allowCookies="true" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62044/NorthwindDataService.asmx"
                binding="basicHttpBinding" bindingConfiguration="NorthwindDataServiceSoap"
                contract="NorthwindServiceReference.NorthwindDataServiceSoap"
                name="NorthwindDataServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>